<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Adam Westbrook: Words and Pictures</title>
        <meta name="description" content="Adam Westbrook">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,700|Neuton:300">
    </head>

    <body>
    
    <div class="blogpost">
        
        <div class="blogpost-container">
        
        <h1>Blogpost Title</h1>
        <h6>1st July 2018 • Permalink</h6>    
            
        
            
        <img src="image.png" alt="image title" title="image title" />
            
        <p>That’s when the story gets interesting, or at least that’s the climax of Act 1. What question does that raise? How is that answered at the climax? I want to imagine a good climax, something visual and dramatic that’s been sowed in the whole way through. I have some really good moments thought out this story just nothing at the end. Is there a moment that could be moved to the end? No I don’t think so. The good moment of the Art of War clip cut to Trump…well that could be repeated from an earlier episode? This time cut with the pictures? Of course that kind of does what the audience have already done if they’ve seen it already.</p>    
            
        <h3>A subheader</h3>    
            
        <p>What’s this going to be like? To live the rest of our lives in a world of information where we don’t know what is true? Where fact and fiction are constantly muddled? How to convey that somehow? How to make the audience feel depressed about that? (Why do I always end up trying to making people feel depressed?! Must be because I’m still depressed. Probably some truth in that). Is there some kind of final reveal to pull off in the third act that has the audience saying “is this even real? Is Adam real? Can I trust anything I’ve just heard? Is that something I want to do or will it discredit the story?</p>    
            
        <h3>Another subheader</h3>    
            
        
            <ul>
            <li>Here's an unordered list point</li>
            <li>And here's another one</li>
            <li>And here's one more</li>
            </ul>
            
            
            <ol>
            <li>Here's an ordered list point</li>
            <li>And here's another</li>
            <li>And here's one more</li>
            </ol>

            <blockquote>
                This is a block quote. That third episode is a place to put some interesting science in about how we are all vulnerable to information that is repeated. The wider picture.
            </blockquote>
            
        </div>    
            
        </div>
        
        <div class="blogpost">
        
        <div class="blogpost-container">
        
        <h1>Blogpost Title</h1>
        <h6>1st July 2018 • Permalink</h6>    
        
        <p>That’s when the story gets interesting, or at least that’s the climax of Act 1. What question does that raise? How is that answered at the climax? I want to imagine a good climax, something visual and dramatic that’s been sowed in the whole way through. I have some really good moments thought out this story just nothing at the end. Is there a moment that could be moved to the end? No I don’t think so. The good moment of the Art of War clip cut to Trump…well that could be repeated from an earlier episode? This time cut with the pictures? Of course that kind of does what the audience have already done if they’ve seen it already.</p>    
            
        <h3>A subheader</h3>    
            
        <p>What’s this going to be like? To live the rest of our lives in a world of information where we don’t know what is true? Where fact and fiction are constantly muddled? How to convey that somehow? How to make the audience feel depressed about that? (Why do I always end up trying to making people feel depressed?! Must be because I’m still depressed. Probably some truth in that). Is there some kind of final reveal to pull off in the third act that has the audience saying “is this even real? Is Adam real? Can I trust anything I’ve just heard? Is that something I want to do or will it discredit the story?</p>    
            
        <h3>Another subheader</h3>    
            
        
            <ul>
            <li>Here's an unordered list point</li>
            <li>And here's another one</li>
            <li>And here's one more</li>
            </ul>
            
            
            <ol>
            <li>Here's an ordered list point</li>
            <li>And here's another</li>
            <li>And here's one more</li>
            </ol>

            <blockquote>
                This is a block quote. That third episode is a place to put some interesting science in about how we are all vulnerable to information that is repeated. The wider picture.
            </blockquote>
            
        </div>    
            
        </div>
        
        
    </body>
    
</html>
