<!DOCTYPE html>
<html>
    
    {% include head.html %}
    {% include header.html %}
    
    <body>
    
        <div id="words" class="container">
            
            <h1>Words I've been writing</h1>
        
            {% for post in site.posts %}
            
                <ul>
                
                    <li><a href="{{ post.url }}">{{ post.title }}</a> • {{ post.date | date: "%B %Y"}}</li>
            
                </ul>
            
            {% endfor %}
            
        </div>
        
    {% include footer.html %}
    
        </body>
    
    </html>